{% extends 'base.html' %}

{% block title %}
    About page
{% endblock title %}

{% block body %}
        <h1>About</h1>
        <p>
            На этой странице вы найдете информацию о моем интересе к программированию на Python. <br>
            Я увлечен созданием программ и скриптов на этом языке, и готов поделиться своими знаниями и опытом с вами. <br> 
            Приглашаю вас узнать больше о моих проектах и исследованиях в области Python на этой странице. <br>
        </p>
{% endblock body %}